<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liquidbudget">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".ExpenseDisplayActivity"
            android:label="@string/title_activity_expense_display">
        </activity>
        <activity android:name=".settings.InviteActivity" />
        <activity android:name=".settings.HelpActivity" />
        <activity android:name=".settings.BankingActivity" />
        <activity android:name=".settings.NotificationsActivity" />
        <activity android:name=".settings.AccountActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".AddExpenseActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SpendingSavingPage"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name=".SpendingSavingPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name=".CategoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddCategoryActivity"
            android:label="@string/app_name"
            android:parentActivityName=".CategoryActivity">
            <intent-filter>
                <action android:name=".AddCategoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewCategoryActivity"
            android:label="@string/app_name"
            android:parentActivityName=".CategoryActivity">
            <intent-filter>
                <action android:name=".ViewCategoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddUserActivity"
            android:parentActivityName=".AddUserActivity"/>
        <activity android:name=".UserDisplayActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".AddIncomeActivity"
            android:parentActivityName=".AddIncomeActivity"/>
        <activity android:name=".IncomeDisplayActivity"
            android:launchMode="singleTop"/>

    </application>

</manifest>
